* {
   padding: 0;
   margin: 0;
   box-sizing: border-box;
}

body {
   background: lightgrey;
   font-family: "Roboto", sans-serif;
}

.main-header {
   width: 100;
   position: fixed;
   background: white;
   display: flex;
   justify-content: space-around;
   align-items: center;
   width: 100%;
   height: 30px;
   z-index: 100;
}

.main-header img {
   width: 100px;
   height: 15px;
}

.sign-in button {
   background: transparent;
   border: none;
   color: black;
   cursor: pointer;
}

.main-main {
   width: 100;
   background: white;
   text-align: center;
}

.main-body {
   height:300px;
   display: block;
   padding-top: 40px;
}


.main-body img {
   width: 260px;
   height: 140px;
   margin-top: 60px;
   margin: 0 auto;
}

.main-content {
   line-height: 25px; 
   margin-top: 20px;   
}
.main-content h3 {
   font-size: 15px;
}

.main-content p {
   font-size: 8px;
}

.main-button {
   margin-top: 10px;
   display: flex;
   justify-content: center;
   align-items: center;
   column-gap: 8px;
}

.main-button button {
   width: 70px;
   font-size: 8px;
   padding: 6px 5px;
   border-radius: 50px;
   border: 1px solid gray;
   background: white;
   font-weight: bold;
   cursor: pointer;
   transition: 0.15s;
}

.main-button button:nth-child(1) {
   background: green;
   color: white;
}

.main-button button:nth-child(1):hover {
   background: green;
   color: white;
   opacity: 0.7;
}

/* for section one */
.section-body {
   width: 100%;
  display: flex;
  justify-content: center;
  flex-wrap: wrap;
  text-align: center;
  height: 400;
  background:#FFF1D5;
}

.section-body h3 {
   flex-basis: 100%;
   padding: 20px;
   font-size: 14px;
}

.section-box {
   display: grid;
   grid-template-columns: repeat(2, 135px);
   padding-bottom: 30px;
}

.section-box-contents {
   background: white;
   border: 1px solid lightgrey;
   margin-left: -1px;
   margin-bottom: -1px;
}

.section-box-contents h4 {
   font-size: 10px;   
   padding: 1px 3px;
}

.section-box-contents p {
   font-size: 10px;
   line-height: 11px;
   padding: 5px; 
}

.fa-solid {
   color: green;
   font-size: 15px;
   padding: 13px 9px;
}


/* for certificate segment */

.certificate {
   width: 100%;
   background: white;
   height: 1400px;
   text-align: center;
   overflow: scroll;
}

.certificate-image {
   display: block;
   width: 100%;
}

.certificate-image img {
   width: 270px;
}

.certificate p {
   padding: 8px;
   text-align: center;
   font-size: 10px;
   color: black;
   font-weight: bold;
}

/* for details */

.curriculum {
   width: 250px;
   height: 200px;
   margin: 0 auto;
}

.curriculum h4 {
   text-align: left;
   padding: 15px 0;
   font-size: 15px;
   font-weight: bold;
}

.curriculum details {
   text-align: left;
}

.curriculum summary {
   text-align: left;
   text-decoration: underline;
   line-height: 30px;
}

.curriculum details p {
   text-align: left;
   text-decoration: underline;
}

/* for about */

.about-container {
   width: 100%;
   background: white;
   height: 240px; 
}

.about-container-box {
   width: 50%;
   height: 210px;
   background: white;
   border-radius: 2px;
   box-shadow:  0 4px 5px rgb(92, 92, 92, 0.4);
   margin: 0 auto;
}

.about-container img {
   width: 100%;
   height: 100px;
   border-top-right-radius: 2px;
   border-top-left-radius: 2px;
}

.about-container-box hr {
   width: 15%;
   margin-left: 20px;
   margin-top: -5px;
   margin-bottom: 10px;
}

.about-container h5 {
   font-size: 14px;
   padding: 10px 20px;
   
}

.about-container p {
   font-size: 12px;
   padding-left: 20px;
   line-height: 15px;
}